@import 'bourbon';

.btn-lg {
    width: 400px;
}

.btnLight {
    &:hover {
        background-image: linear-gradient(90deg, $primary, $primary_light);
    }
}

#tableNames {
    color: $secondary_dark;
    text-decoration: none;
}

.card .person_card {
    background: linear-gradient(
        to right,
        rgba(249, 236, 255, 0.906) 0%,
        rgba(229, 241, 255, 0.6) 100%
    );
}

.person_card .card-body p {
    margin: 0;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.card-title {
    font-size: 4rem;
}

#bands {
    background-color: tint($secondary_light, 55%);
    &:hover {
        background-color: tint($secondary_light, 75%);
    }
}

#pros {
    background-color: tint($primary_light, 55%);
    &:hover {
        background-color: tint($primary_light, 75%);
    }
}

#teachers {
    background-color: tint(white, 55%);
    &:hover {
        background-color: tint(rgb(249, 255, 139), 50%);
    }
}

#jams {
    background-color: $tertiary_light;
    &:hover {
        background-color: tint($tertiary_light, 40%);
    }
}

#landing_hero {
    background: linear-gradient(
        to right,
        rgba(249, 236, 255, 0.906) 0%,
        rgba(229, 241, 255, 0.6) 100%
    );
    // rgba(229, 241, 255, 0.6) 100%
}

.jumbotron-image {
    background-image: linear-gradient(
            to right,
            rgba(168, 116, 192, 0.5) 0%,
            rgba(138, 181, 232, 0.6) 100%
        ),
        url('../images/negative-space-man-playing-guitar-isaiah-colson.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron-image2 {
    background-image: linear-gradient(
            to right,
            rgba(168, 116, 192, 1) 0%,
            rgba(138, 181, 232, 0.5) 100%
        ),
        url('../images/g_banner.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.seekingText {
    color: $tertiary_dark;
}

#secText {
    color: $tertiary_dark;
}
