$primary_light: #c19ad3;
$primary: #a874c0;
$primary_dark: #9659b2;

$secondary_light: #a6c9f0;
$secondary: #8ab5e8;
$secondary_dark: #79a4e2;

$tertiary_light: #acd19c;
$tertiary: #8cc074;
$tertiary_dark: #75b357;

$dark: #292b2c;
$dark_lighter: #6a6d6e;
